<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock %}</title>

    {% include 'layout/head_link.html' %}
</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <a href="{% url 'post_draft_list' %}" class="top-menu">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a href="{% url 'logout' %}" class="top-menu">
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu">
                <span class="glyphicon glyphicon-log-in"></span>
            </a>
        {% endif %}
        <h1><a href="{% url 'post_list' %}">{% block title %}{% endblock %}</a></h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% include 'layout/scripts.html' %}
</body>
</html>