<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock %}</title>

    {% include 'layout/head_link.html' %}
</head>
<body>
    {% include 'layout/nav.html' %}

    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="animated rubberBand"><a href="{% url 'post_list' %}">{% block title %}{% endblock %}</a></h1>
            {% block subtitle %}{% endblock %}
        </div>
    </div>

    {% block content %}
    {% endblock %}

    {% include 'layout/footer.html' %}
    {% include 'layout/scripts.html' %}
</body>
</html>