<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock %}</title>

    {% include 'layout/head_link.html' %}
</head>
<body>
    <div class="header-content">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="btn top-menu">
                New
            </a>
            <a href="{% url 'post_draft_list' %}" class="btn top-menu">
                Drafts
            </a>
            <a href="{% url 'logout' %}" class="btn top-menu">
                Logout
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="btn top-menu">
                Login
            </a>
        {% endif %}

        <div class="header-content-inner">
            <h2 class="animated rubberBand"><a href="{% url 'post_list' %}">{% block title %}{% endblock %}</a></h2>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    {% include 'layout/footer.html' %}
    {% include 'layout/scripts.html' %}
</body>
</html>