{% extends 'layout/base.html' %}

{% block head_title %}Drafts{% endblock %}
{% block title %}Drafts{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <p class="date">
                created: {{ post.created_date|date:'Y년 m월 d일 H:i' }}
            </p>
            <h1>
                <a href="{% url 'post_detail' pk=post.pk %}">
                    {{ post.title }}
                </a>
            </h1>
            <p>{{ post.text|truncatechars:200 }}</p>
        </div>
    {% endfor %}
{% endblock %}