{% extends 'layout/base.html' %}
{% load markdownify %}

{% block head_title %}Drafts{% endblock %}
{% block title %}Drafts{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="container">
            <p class="date">
                created: {{ post.created_date|date:'Y년 m월 d일 H:i' }}
            </p>
            <h1>
                <a href="{% url 'post_detail' pk=post.pk %}">
                    {{ post.title }}
                </a>
            </h1>
            <section class="excerpt">
                {{ post.text|markdown|striptags|truncatechars:160 }}
            </section>
        </div>
    {% endfor %}
{% endblock %}