$sans-serif: 'Open Sans', 'Helvetica Neue', Arial, sans-serif
$serif: 'Merriweather', 'Helvetica Neue', Arial, sans-serif

html,
body,
ul,
ol
  direction: ltr
  box-sizing: content-box
  margin: 0
  padding: 0
  font-family: $sans-serif
