html,
body,
ul,
ol{direction:ltr;box-sizing:content-box;margin:0;padding:0;font-family:"Open Sans", "Helvetica Neue", Arial, sans-serif;line-height:2.4em;list-style-image:url("images/sqorange.gif");}
a{color:#F05F40;}
a:hover{text-decoration:none;color:#7fdbff;}
hr{margin:24px 0 0 0;clear:right;}
.glyphicon{display:inline-block;box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
iframe{width:100%;}
.gitribbon{position:absolute;right:0;border:0;}
nav .navbar-brand{color:#F05F40;font-weight:700;}
nav .navbar-brand:hover, nav .navbar-brand:focus{color:#eb3812;}
.header-content{width:100%;background:#263037 url("images/main.gif") no-repeat;position:relative;text-align:center;padding:100px 15px 100px;}
.header-content .subtitle{margin:24px 0 0 0;font-family:Monaco, Menlo, Consolas, monospace;font-weight:300;color:rgba(255, 255, 255, 0.7);}
.header-content .header-content-inner h1{font-size:3em;font-weight:700;margin-top:0;margin-bottom:0;text-shadow:1px 1px 2px black, 0 0 12px #FAF5E1, 0 0 2px darkblue;}
.header-content .header-content-inner a{color:white;}
.header-content .header-content-inner a:hover{color:#7fdbff;}
.date{display:inline-block;font-family:"Open Sans", "Helvetica Neue", Arial, sans-serif;}
.date strong{color:#333333;}
.date small{color:#9eabb3;font-size:12px;}
.save{float:right;}
.profile div{padding:3em;}
.profile li{margin:1.2em 0;}
.profile h1,
.profile h2,
.profile h3{margin:0 0 24px 0;font-weight:600;}
.profile .github{content:url("images/GitHub-Mark.png");}
.profile .slideshare{content:url("images/SS_Logo.png");}
.profile .email{content:url("images/email.png");}
.profile .restrictedzone{width:32px;content:url("images/restrictedzone.jpeg");}
.container{padding:60px 0;}
.container h1{margin:0 0 0.6em 0;}
.container .excerpt{font-size:80%;line-height:1.6em;color:#9eabb3;}
.post_layout, .post, .comment,
.comment_form, .post_form{position:relative;width:100%;margin:0;}
.post_layout pre, .post pre, .comment pre,
.comment_form pre, .post_form pre{font-size:0.8em;font-family:Monaco, Menlo, Consolas, monospace;background-color:#eeeeee;padding:1.2em;line-height:1.8em;}
@media screen and (min-width:880px){.post_layout, .post, .comment,
.comment_form, .post_form{margin:0 80px;max-width:800px;}
}
.post{padding:60px 0;}
.post p{margin:1.2em 0;}
.post p img{width:100%;height:auto;margin:auto auto 1.2em;}
.post h1,
.post h2,
.post h3{margin:0 0 24px 0;font-weight:600;}
.post table{margin:0 0 24px 0;}
.post table tr{border-bottom:1px solid #9eabb3;}
.post table tr th{background-color:#efe0e0;padding:1.2em;}
.post table tr td{padding:1.2em;}
.comment,
.comment_form{padding:20px 0;font-size:1.3em;font-family:"Nanum Pen Script";}
.comment::placeholder,
.comment_form::placeholder{opacity:0.3;font-style:italic;}
.comment p img,
.comment_form p img{width:100%;max-width:300px;height:auto;margin:auto auto 0.8em;}
.comment h1,
.comment h2,
.comment h3,
.comment_form h1,
.comment_form h2,
.comment_form h3{font-weight:600;}
.comment table tr,
.comment_form table tr{border-bottom:1px solid #9eabb3;}
.comment table tr th,
.comment_form table tr th{background-color:#efe0e0;padding:0.6em;}
.comment table tr td,
.comment_form table tr td{padding:0.6em;}
.comment pre,
.comment_form pre{font-size:0.6em;}
.comment strong,
.comment_form strong{margin-right:1em;}
.comment label,
.comment_form label{display:none;}
.comment input,
.comment_form input{margin:24px 0 0 0;width:100%;border:1px solid #eeeeee;padding:0 0.4em;}
.comment textarea,
.comment_form textarea{width:100%;height:100px;min-height:100px;border:3px solid #eeeeee;padding:0 0.4em;line-height:1.6em;}
.post_form{font-family:Monaco, Menlo, Consolas, monospace;}
.post_form::placeholder{opacity:0.3;font-style:italic;}
.post_form input{padding:0.4em;width:100%;border:1px solid #eeeeee;}
.post_form textarea{padding:0.4em;width:100%;height:100px;min-height:300px;border:3px solid #eeeeee;line-height:1.6em;}
.copyright{text-align:center;margin:16px auto;color:#9eabb3;}